'''fastapi
uvicorn
pandas
numpy
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
faiss-cpu
sentence-transformers
transformers
torch
pydantic
python-dotenv'''


fastapi
uvicorn
pandas
numpy
langchain
langchain-core
langchain-community
langchain-groq
pydantic
python-dotenv
requests
